// storage.rules

rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o { // Matches all files in the default bucket
    match /{allPaths=**} { // Matches any path within the bucket
      // Allow all reads and writes for local emulation purposes.
      // WARNING: DO NOT use rules this open in production!
      allow read, write: if true;
    }
  }
}